:root {
  --secondary: #0075b0;
}
.slider-value {
  border: 1px solid #e6e7e8;
  padding: 0.3rem;
  width: 1rem;
  margin-left: auto;
}

.slider-value span {
  color: var(--secondary);
}
